/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* COMMONS */
.flex {
    display: flex;
}

/* HEADER */
.nav-header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    background-color: white;
    padding: 0 20px;
}
/* RIGHT NAVIGATION */
.right-nav {
    width: 40%;
    align-items: center;
}

.right-nav li {
    font-size: .9rem;
    padding-left: 20px;
}

.plan-list {
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20px;
}

/* LEFT NAVIGATION */
.left-nav {
    width: 40%;
    justify-content: flex-end;
}

.left-nav li {
    font-size: .9rem;
    padding-right: 20px;
}
.left-nav li:last-child {
    background-color: #0161ff;
    padding: 9px;
    line-height: 10px ;
    color: white;
}
/* JUMBOTRON SECTION */
.jumbotron {
    background-color: #b4d0e7;
    padding-top: 80px;
    /* DEBUG */
    /* height: 700px; */
}

.jumbo-title {
    width: 60%;
    margin: 40px auto 0;
}
.jumbo-title h1 {
    font-size: 4rem;
}

.jumbo-nav {
    width: 60%;
    margin: 0 auto;

}

.small-jumbo {
    width: 40%;
}
.prova {
    background-color: #0161ff;
    width: 50%;
    margin: 15px 0;
    padding: 7px;
    color: white;
}
.serch-partner{
    color: black;
    border-radius: 1px solid black;
    padding: 10px;
    background-color: white;
}


.cancel {
    margin-bottom: 70px;
}

.small-jumbo i {
    font-size: 2.5rem;
}

.large-jumbo {
    width: 60%;
}
.large-jumbo img {
    object-fit: contain;
    
}
/* MAIN */

/* Prima sezione */
.plane {
    width: 60%;
    margin: 9rem auto;

}

.plane-choise {
    margin: 0 auto;
    width: 100%;
}

.main-title {
    font-size: 2.3rem;
    padding-bottom: 30px;
}

.invoice li:last-child{
    margin-left: 20px;
}
/* ABBONAMENTO */
.cost {
    gap: 10px;
}
.plane-cost {
    margin: 20px 10px;
    padding: 10px 0;
    width: calc(100% / 3);
    border: 1px solid grey;
}

.single {
    align-items: center;
    justify-content: center;
}

.cards {
    padding: 30px 20px;
}

.card {
    margin: 20px 0;
}
.month {
    color: grey;
}
.cards .try {
    text-align: center;
    margin: 4rem 0;
}

li i {
    padding-top: 4px;
    margin-right: 7px;
}

.line {
    width: 80px;
    margin: 20px 0;
    border-bottom: 1px solid grey;
}
.sub-title {
    font-size: 1rem;
}

.cards li {
    margin: 10px 0;
}

.check i {
    color: #0161ff;
}
.enterprise {
    width: 100%;
    margin: 20px auto;
    padding: 30px 0;
    border: 1px solid grey;
}
.large-jumbo .price {
    margin-bottom: 20px;
}
.enterprise .jumbo-nav {
    width: 95%;
    position: relative;
}

.enterprise .small-jumbo .try a{
    position: absolute;
    top: 10px;
    right: 0;
    padding: 16px;
}


/* seconda sezione */
.partner {
    margin: 50px auto;
    width: 60%;
}

.large-col {
    width: 60%;
}

.small-col {
    width: 40%;
    padding: 30px;
}

.small-col h3 {
    margin: 30px auto;
}

.small-col p {
    margin: 30px auto;
}

.small-col .try a{
    color: grey;
    background-color: white;
    border: 1px solid grey;
}
/* terza sezione */
.operazioni{
    width: 60%;
    margin: 50px auto;
    /* DEBUG */
    height: 850px;
    background-color: grey;
}
.title-operazioni {
    width: 100%;
    margin-bottom: 40px;
    /* DEBUG */
    height: 100px;
    border: 2px solid blue;
}
.col-operazioni{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.col {
    width: calc(100% / 3 - 10px);
    /* DEBUG */
    border: 2px solid red;
    height: 350px;
}
.team {
    width: 60%;
    margin: 50px auto;
    /* DEBUG */
    height: 200px;
    border: 2px solid red;
    background-color: grey;
}


.clients{
    width: 100%;
    margin: 0 auto;
    /* DEBUG */
    /* height: 400px;
    background-color: grey;
    border: 2px solid red; */
}

.column {
    width: calc(100% / 3);
    flex-wrap: wrap;
    /* DEBUG */
    height: 400px;
    /* border: 2px solid blue; */
}
.img {
    width: calc(100% / 2);
    filter: invert();
    /* DEBUG */
    /* height: auto;
    border: 2px solid black; */
}
.square-green {
    background-color: #A2D39B;
    
}
.square-brown {
    background-color: #61082B;
}
.square-cian {
   background-color: #0093CE;
}
.square-red {
    background-color: #FF1C1C;
}
.square-lightblue {
    background-color: #B4D0E7;
}
.square-blue {
    background-color: #0D2481;
}
.square-yellow {
    background-color: #FFD830;
}
/* ultima sezione */
.question {
    width: 60%;
    margin: 50px auto;
    /* DEBUG */
    height: 400px;
    background-color: grey;
    border: 2px solid red;
}
.question h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

.questions {
    width: 100%;
    /* DEBUG */ 
    height: calc(100% / 3 - 20px);
    background-color: violet;
    border: 2px solid red;
}
/* Footer */
.first-footer{
    background-color: black;
    display: flex;
    justify-content: center;
    flex: start;
    padding: 30px 0;
}
.footer-column{
    margin: 10px 0;
    display: block;
    padding-left: 40px;
}
.footer-column h3{
    color: white ;
}
.footer-column a{
    display: block;
    color: white;
    padding: 8px 0;
}
.footer-board{
    margin-top: 80px;
    border-top: 2px solid lightgray;
}
.lingua-footer{
    margin-top: 20px;
}
.icon{
    margin-top: 10px;
    padding: 10px;
    align-self: center;
}

