/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* COMMONS */
.flex {
    display: flex;
}

/* HEADER */
.nav-header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    background-color: white;
    padding: 0 20px;
}
/* RIGHT NAVIGATION */
.right-nav {
    width: 40%;
    align-items: center;
}

.right-nav li {
    font-size: .9rem;
    padding-left: 20px;
}

.plan-list {
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20px;
}

/* LEFT NAVIGATION */
.left-nav {
    width: 40%;
    justify-content: flex-end;
}

.left-nav li {
    font-size: .9rem;
    padding-right: 20px;
}
.left-nav li:last-child {
    background-color: #0161ff;
    padding: 9px;
    line-height: 10px ;
    color: white;
}
/* JUMBOTRON SECTION */
.jumbotron {
    background-color: #b4d0e7;
    padding-top: 80px;
}

.jumbo-title {
    width: 60%;
    margin: 40px auto 0;
}
.jumbo-title h1 {
    font-size: 4rem;
}

.jumbo-nav {
    width: 60%;
    margin: 0 auto;

}

.small-jumbo {
    width: 40%;
}
.prova {
    background-color: #0161ff;
    width: 50%;
    margin: 15px 0;
    padding: 7px;
    color: white;
}
.serch-partner{
    color: black;
    border-radius: 1px solid black;
    padding: 10px;
    background-color: white;
}


.cancel {
    margin-bottom: 70px;
}

.small-jumbo i {
    font-size: 2.5rem;
}

.large-jumbo {
    width: 60%;
}
.large-jumbo img {
    object-fit: contain;
    
}
/* MAIN */

 /* sezione card trova il tuo buisness */
.plane {
    width: 60%;
    margin: 9rem auto;

}

.plane-choise {
    margin: 0 auto;
    width: 100%;
}

.main-title {
    font-size: 2.3rem;
    padding-bottom: 30px;
}

.invoice li:last-child{
    margin-left: 20px;
}
/* Abbonamento (card) */
.cost {
    gap: 10px;
}
.plane-cost {
    margin: 20px 10px;
    padding: 10px 0;
    width: calc(100% / 3);
    border: 1px solid grey;
}

.single {
    align-items: center;
    justify-content: center;
}

.cards {
    padding: 30px 20px;
}

.card {
    margin: 20px 0;
}
.month {
    color: grey;
}
.cards .try {
    text-align: center;
    margin: 4rem 0;
}

li i {
    padding-top: 4px;
    margin-right: 7px;
}

.line {
    width: 80px;
    margin: 20px 0;
    border-bottom: 1px solid grey;
}
.sub-title {
    font-size: 1rem;
}

.cards li {
    margin: 10px 0;
}

.check i {
    color: #0161ff;
}
.enterprise {
    width: 100%;
    margin: 20px auto;
    padding: 30px 0;
    border: 1px solid grey;
}
.large-jumbo .price {
    margin-bottom: 20px;
}
.enterprise .jumbo-nav {
    width: 95%;
    position: relative;
}

.enterprise .small-jumbo .try a{
    position: absolute;
    top: 10px;
    right: 0;
    padding: 16px;
}


/* sezione partner */
.partner {
    margin: 50px auto;
    width: 60%;
}

.large-col {
    width: 60%;
}

.small-col {
    width: 40%;
    padding: 30px;
}

.small-col h3 {
    margin: 30px auto;
}

.small-col p {
    margin: 30px auto;
}

.small-col .try a{
    color: grey;
    background-color: white;
    border: 1px solid grey;
}
/* vantaggi dropbox business  */
.operation {
    width: 60%;
    margin: 60px auto;
}
.title-operation {
    width: 100%;
    margin-bottom: 40px;
}

.title-operation h2 {
    font-size: 2rem;
    text-align: center;
}


.col-operation {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 40px;
}

.col {
    width: calc(100% / 3 - 10px);
}

.col img {
    width: 100%;
    margin: auto 0;
}

.col-title {
    margin-bottom: 20px;
}

/* i nostri clienti */

.team {
    width: 60%;
    margin: 70px auto;
}

.large-col .col-title {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.clients{
    width: 100%;
    margin: 0 auto;
}
/* sponsor */

.column {
    width: calc(100% / 3);
    flex-wrap: wrap;
}
.column .img-col {
    width: 50%;
    padding: 50px;
    
}

.central {
    background-color: #f5f5f5;
    padding: 30px;
}

/* BACKGROUD COLOR SPONSOR*/
.back-box1 {
    background-color: #a2d39b;
    
}

.back-box2 {
    background-color: #62092b;
}

.back-box3 {
    background-color: #0093CE
}

.back-box4 {
    background-color: #ff1b1c;
}

.back-box5 {
    background-color: #d50020;
}

.back-box6 {
    
    background-color: #b4d0e7;
}

.back-box7 {
    background-color: blue;
}

.back-box8{
    
    background-color: #ffd830;
}

.filter {
    filter: invert(100);
}

.designit {
    width: 50%;
}

.cta {
    width: 100%;
    margin: 0 auto;
    height: 250px;
    background-color: #b4d0e7;
}
.cta .large-col {
    width: 50%;
    text-align: center;
    line-height: 250px;
}
.large-col h2 {
    color: #62092b;
    font-size: 2rem;
}
.cta .small-col-2 {
    width: 40%;
    text-align: center;
    line-height: 250px;
}

.try a{
    background-color: white;
    padding: 10px 30px;
    color: black
}

/* Domande frequenti */

.question {
    width: 50%;
    margin: 50px auto;
}
.question h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

.questions {
    position: relative;
    padding: 50px 0;
}

.questions h4 {
    font-size: 0.9rem;
}

.questions i {
    position: absolute;
    right: 0;
    bottom: 50%;
}

.paragraph {
    display: none;
    padding: 10px;
}



/* Footer */
.first-footer{
    background-color: black;
    display: flex;
    justify-content: center;
    flex: start;
    padding: 30px 0;
}
.footer-column{
    margin: 10px 0;
    display: block;
    padding-left: 40px;
}
.footer-column h3{
    color: white ;
}
.footer-column a{
    display: block;
    color: white;
    padding: 8px 0;
}
.footer-board{
    margin-top: 80px;
    border-top: 2px solid lightgray;
}
.lingua-footer{
    margin-top: 20px;
}
.icon{
    margin-top: 10px;
    padding: 10px;
    align-self: center;
}

